<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="description" content="Personal portofolio showcasing IT and design skills">
    <title>Jaime Robertson | Profile, Skills & Projects</title>

    <meta property="og:title" content="Jaime Robertson | Profile, Skills & Projects">
    <meta property="og:description" content="Personal portofolio showcasing IT and design skills"
    <meta property="og:type" content="website">

    <link rel="stylesheet" href="home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap" rel="stylesheet">

</head>
<body>
    <section class="header">
        <nav>
            <a href="home.html"><img src=""></a>
            <div class="nav-links">
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">PROJECTS</a></li>
                    <li><a href="">SKILLS</a></li>
                    <li><a href="">CONTACT</a></li>
                </ul>
            </div>
        </nav>
    
    <div class="text-box">
        <h1>Welcome!</h1>
        <p>swokqsjoqld</p>
    </div>

    </section>
</body>


</html>