body {
    background-color: #2E2B2B;
}

*{
    margin: 0;
    padding: 0;
}

main.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 100px 10%;
    flex-wrap: wrap;
    min-height: calc(100vh - 160px);
}

.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.noto-sans-medium {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

nav{
    display: flex;
    padding: 0% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 200px;
}

.nav-links{
    flex: 1;
    text-align: right;
    font-family: "Noto Sans", sans-serif;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #BE8AD4;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}


.text-box{
    flex: 1 1 400px;
    color: #fff;
    text-align: left;
}

.text-box h1{
    font-family: "Rubik", sans-serif;
    font-size: 80px; 
    margin-bottom: 20px;   
}

.text-box p{
    font-family: "Noto Sans", sans-serif;
    font-size: 22px;
    line-height: 1.6;
    margin-top: 10px;
}

.profile-photo {
    flex: 0 0 auto;
    text-align: center;
}

.profile-photo img {
    width: 380px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 0;
    transition: all 0.3s ease;
}

nav .material-symbols-outlined{
    display: none;
}

@media(max-width: 700px){

    main.content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
        padding: 60px 5%;
    }

    .text-box {
        width: 100%;
    }

    .text-box h1{
        font-size: 34px;
    }

    .text-box p{
        font-size: 18px;
    }

    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: absolute;
        background: #BE8AD4;
        height: 100vh;
        width: 150px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    
    nav .material-symbols-outlined{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .profile-photo img{
        width: 300px;
    }

    .footer {
        padding-top: 300px;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #2E2B2B;
}

.footer {
    text-align: center;
    color: #fff;
    padding: 20px 0;
    background-color: #2E2B2B;
    margin-top: auto;
    font-size: 14px;
}