body {
    background-color: #2E2B2B;
}

*{
    margin: 0;
    padding: 0;
}

.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.noto-sans-medium {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

nav{
    display: flex;
    padding: 0% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 200px;
}

.nav-links{
    flex: 1;
    text-align: right;
    font-family: "Noto Sans", sans-serif;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #BE8AD4;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.comments-text h1{
    font-family: "Rubik", sans-serif;
    font-size: 60px;   
    text-align: center; 
    color: #fff;
}

.nav-links ul li:hover::after{
    width: 100%;
}

nav .material-symbols-outlined{
    display: none;
}

.logout {
    text-align: right;
    padding-top: 20px;
    padding-right: 110px;
}

.google-logout {
    font-size: 20px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-top: 5px;
    border-radius: 5px;
    background-color: #BE8AD4;
}

.google-logout:hover {
    font-size: 20px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-top: 5px;
    border-radius: 5px;
    background-color:#e6c4f5;
}

.comment-box{
    padding-left: 40px;
}

.comment-input {
    width: 600px;
    height: 80px;
    font-size: 14px;
}

.submit {
    padding-left: 40px;
    padding-top: 10px;
}

.submit-comment {
    font-size: 16px;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
    padding-top: 3px;
    border-radius: 5px;
    background-color: #BE8AD4;
}

.submit-comment:hover {
    font-size: 16px;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
    padding-top: 3px;
    border-radius: 5px;
    background-color:#e6c4f5;
}

.comments-header {
    font-family: "Rubik", sans-serif;
    color: #fff;
    font-size: 26px;
    padding-left: 40px;
    padding-top: 80px;
}

.list {
    font-family: "Rubik", sans-serif;
    color: #fff;
    padding-left: 40px;
    padding-top: 20px;
}


@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }

    .logout {
        text-align: right;
        padding-top: 20px;
        padding-right: 28px;
    }

    .google-logout {
        font-size: 14px;
        padding-left: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
        padding-top: 5px;
        border-radius: 5px;
        background-color: #BE8AD4;
    }

    .google-logout:hover {
        font-size: 14px;
        padding-left: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
        padding-top: 5px;
        border-radius: 5px;
        background-color:#e6c4f5;
    }

    .comment-box{
        padding-left: 20px;
        padding-top: 20px;
    }

    .comment-input {
        width: 310px;
        height: 80px;
        font-size: 14px;
    }

    .submit {
        padding-left: 20px;
        padding-top: 10px;
    }

    .submit-comment {
        font-size: 16px;
        padding-left: 3px;
        padding-bottom: 3px;
        padding-right: 3px;
        padding-top: 3px;
        border-radius: 5px;
        background-color: #BE8AD4;
    }

    .submit-comment:hover {
        font-size: 16px;
        padding-left: 3px;
        padding-bottom: 3px;
        padding-right: 3px;
        padding-top: 3px;
        border-radius: 5px;
        background-color:#e6c4f5;
    }

    .comments-header {
        font-family: "Rubik", sans-serif;
        color: #fff;
        font-size: 26px;
        padding-left: 20px;
        padding-top: 80px;
    }

    .list {
        font-family: "Rubik", sans-serif;
        color: #fff;
        padding-left: 20px;
        padding-top: 20px;
    }

    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #BE8AD4;
        height: 100vh;
        width: 150px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
        
    }
    nav .material-symbols-outlined{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .footer {
        text-align: center;
        color: #fff;
        padding-top: 380px;
    }
}

.footer {
    text-align: center;
    color: #fff;
    margin-top: 250px;
}

.login {
    display: none;
}