body {
    background-color: #2E2B2B;
}

*{
    margin: 0;
    padding: 0;
}

.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.noto-sans-medium {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

nav{
    display: flex;
    padding: 0% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 200px;
}

.nav-links{
    flex: 1;
    text-align: right;
    font-family: "Noto Sans", sans-serif;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #BE8AD4;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

nav .material-symbols-outlined{
    display: none;
}

.projects-text h1{
    font-family: "Rubik", sans-serif;
    font-size: 80px;   
    text-align: center; 
    color: #fff;
}

.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px;
    font-family: "Noto Sans", sans-serif;
    color: #fff;
}

.project-item{
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

.project-item img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

@media(max-width: 700px){
    .projects-text h1{
        font-size: 50px;
    }

    .projects{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2px;
        margin: 10px;
        font-family: "Noto Sans", sans-serif;
        color: #fff;
    }    

    .project-item h3{
        text-align: left;
        border-radius: 10px;
        padding: 0px;
        padding-bottom: 10px;
    }

     .project-item p{
        font-size: 10px;
        text-align: left;
        border-radius: 10px;
        padding: 0px;
    }

    .nav-links ul li{
        display: block;
    }
    
      .nav-links{
        position: absolute;
        background: #BE8AD4;
        height: 100vh;
        width: 150px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .material-symbols-outlined{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}

.footer {
    text-align: center;
    color: #fff;
    margin-top: 80px;
}